/* Author Boxes
--------------------------------------------- */

.author-box {
	background: $author-box-background-color;
	border: 1px solid $author-box-border-color;
	margin-bottom: 30px;
	padding: 20px;

	@include media($small-screen-up) {
		padding: 40px;
	}

	p:last-child {
		margin-bottom: 0;
	}

	.social-icons {
		display: block;
		padding-top: 26px;

		li {
			display: inline-block;
			margin: 0 5px 5px;
		}
	}
}

.author-box-title {
	margin-bottom: 4px;
}

/* Typography Formats
--------------------------------------------- */

.dropcap {
	float: left;
	font-size: 300%;
	line-height: 0.5;
	margin: 0.205em 0.153em 0 0;
}

.pullquote {

}

.intro-paragrah {

}
